@import "./scss/mobile.scss";
@import "./scss/theme.scss";
@import "./scss/nav.scss";
@import "./scss/header.scss";
@import "./scss/sec1.scss";
@import "./scss/sec2.scss";
@import "./scss/sec3.scss";
@import "./scss/sec4.scss";
@import "./scss/sec5.scss";
@import "./scss/sec6.scss";
@import "./scss/footer.scss";
@import "./scss/font.scss";
@import "./scss/btn.scss";
@import "./scss/row.scss";
@import "./scss/col.scss";
@import "./scss/card.scss";
@import "./scss/pagh.scss";
@import "./scss/img.scss";
@import "./scss/glob.scss";
@import "./scss/ham-menu.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}



