@import "./Font.scss";

//button

.primary {
    border-radius: 8px;
    background-color: $primary-color;
    color: $base-white;
    font-family: $font-3;
    font-size: 1rem;
    margin: 5px auto;
  }
  .secondary {
    border-radius: 8px;
    color: $paragraph-color;
    background-color: $base-white;
    font-family: $font-3;
    font-size: 1rem;
    margin: 5px auto;
  }



  // padding
  .btn{
    font-family: $font-3;
    margin: 10px, 0;
  }
  // padding
  //button
  
   
