//   heading
h1,
.h1 {
  font-size: 2rem;
  font-weight: 700;
  color: $darkGreen;
}
h2,
.h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $darkGreen;
}
h3,
.h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: $darkGreen;
}
h4,
.h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: $darkGreen;
}
h5,
.h5 {
  font-size: 1.2rem;
  font-weight: 300;
  color: $darkGreen;
}
h6,
.h6 {
  font-size: 1rem;
  font-weight: 200;
  color: $darkGreen;
}
//   heading