// container
.container {
  max-width: 100%;
  padding: 0 2rem;
}
.container-fluid{
  max-width: 100%;
}
// container

// row
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 -1.5rem;
}
