.sec-3 {
  .col-fx {
    display: flex;
    flex-direction: column;
    text-align: center;
    .msg-wrapper {
      .msg {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          margin-top: 30px;
        }
        h3 {
          margin-left: 10px;
          font-weight: 600;
        }
      }
    }

    .h2 {
      margin: 0;
      font-size: 3rem;
      @include mobile {
        text-align: center;
        font-size: 1.8rem;
      }
    }
    article {
      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 64px;
        height: 64px;
        @include mobile {
        }
      }
      p {
        margin: 0;
        font-weight: 600;
        @include mobile {
          margin: auto;
        }
      }
    }
  }

  .trial-wrapper {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 50px;
    @include mobile {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    .trial {
      flex: 0 0 70%;
      .h3 {
        margin: 0;
        font-size: 3rem;
        color: mediumslateblue;
      }
      p {
        color: mediumslateblue;
      }
    }
    .btn-wrapper {
      width: 100%;
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      
    }
  }

  .mg {
    @include mobile {
      margin: 20px 0;
    }
  }
}
