$primary-color: #53389e;
$navLogo-color: #101828;
$paragraph-color: #475467;
$title-color: #101828;
$subTitle-color: #6941c6;
$base-white: #ffffff;
$base-black: #000000;
$succss: #17b26a;
$border-color: #000000;
$bg-gray: #f9fafb;
$prim-bord: #d0d5dd;
$text-color: #344054;
$border1-color: #eaecf0;
$bg-succss: #dcfae6;
$ph-color: #e9d7fe;
$link-heading: #667085;
$btn-color: #7f56d9;
